<script type="text/javascript" src="/script/dashboard.js" defer></script>
{{> nav}}
    
<main class="dashboard_main">
    {{> header}}
    
    <div class="search">
        <input class="search_bar" type="text" placeholder="search"></input>
        <button class="search_button">Search</button>
    </div>
    <div class="stack_sorting">
        <div class="sort_section">
            <div id="sorting">
                <a class="sort highlight">My Projects</a>
                <a class="sort">Others' Projects</a>
            </div>
            <div>
                <button id="create_stack_button" class="create_button">Create New Project</button>
            </div>
        </div>
    </div>
    <div id="create_stack_modal" class="create_modal">
        <div class="create_stack_modal_content">
            <span class="create_stack_model_close">&times;</span>
            <h2> Create New Project</h2>
            <form id="create_stack_form" method="post" action="/createStack">
                <input id="create_stack_name" class="create_stack_input" type="text" placeholder="Project Name" name="stack_name">
                <div class="create_stack_input_domain_container">
                    <input id="create_stack_domain" class="create_stack_input_domain" oninput="updatePreview()" type="text" placeholder="DomaineName" name="domain_name">
                    <span id="domain_preview" class="preview">.kubelab.dk</span>
                </div>
                <select name="add_team" id="create_stack_select_team">
                    <option value="" disabled selected>Add Team Member</option>
                    <option value="">none</option>
                    <option value="User1">Sandra</option>
                    <option value="User2">Mai</option>
                    <option value="User3">Markus</option>
                </select>
                <select name="chosen_template" id="create_stack_select_template">
                    <option value="" disabled selected>Choose Template</option>
                    <option value="User1">Wordpress</option>
                    <option value="User2">Umbraco</option>
                    <option value="User3">Other</option>
                </select>
                <input class="create_modal_submit_button" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="dashboard_list">
        <div class="list_info">
            <div class="list_spacer">
                <span class="list_info_name">Name</span>
                <span class="list_info_author">Author</span>
                <span class="list_info_creation_date">Creation Date</span>
                <span class="list_info_status">Status</span>
                <span class="list_info_actions">Actions</span>
            </div>
        </div>
        {{#each stack}}
            <button class="accordion">
                <span class="stack_info_name">{{name}}</span>
                <span class="stack_info_author">{{author}}</span>
                <span class="stack_info_creation_date">{{creationDate}}</span>
                <span class="stack_info_status_offline">{{#if status}}Online{{else}}Offline{{/if}}</span>
            </button>
            <div class="panel">
                <div>
                    <p class="panel_info_author_mobile">Author: {{author}}</p>
                    <p class="panel_info_team">Team: {{team}}</p>
                    <p class="panel_info_sub_domain">Subdomain: {{subDomain}}</p>
                    <p class="panel_info_template">Template: {{template}}</p>
                </div>
                <div>
                    <p class="panel_info_last_active">Last Active: {{lastActive}}</p>
                    <p class="panel_info_creation_date_mobile">Creation Date:{{creationDate}}</p>
                    <div class="stack_actions">
                        <i onclick="myFunction(this)" class="uil-play-circle"></i>
                        <i class="uil-redo"></i>
                        <i class="uil uil-trash-alt"></i>
                    </div>
                </div>
                
            </div> 
        {{/each}}
    </div>
</main>

<script>
    localStorage.setItem("jwt", '{{jwt}}')
</script>
<!--
{{#if ifEven}}
            <button id="accordion" class="stack_accordion_even">
        {{else}}
            <button id="accordion" class="stack_accordion">
        {{/if}}
            <div class="stack_accordion_panel">