<script type="text/javascript" src="/script/script.js" defer></script>
{{> nav}}
    
<main class="dashboard_main">
    {{> header}}
    
    <div class="search">
        <input class="search_bar" type="text" placeholder="search"></input>
        <button class="search_button">Search</button>
    </div>
    <div class="stack_sorting">
        <div class="sort_section">
            <div class="sorting">
                <a class="sort" href="">Your Stacks</a>
                <a class="sort" href="">Others Stacks</a>
            </div>
            <div>
                <button class="create_button">Create New Stack</button>
            </div>
        </div>
    </div>
    <div class="dashboard_list">
        <div class="list_info">
            <div class="list_spacer">
                <span class="list_info_span">Name</span>
                <span class="list_info_span">Author</span>
                <span class="list_info_span">Creation Date</span>
                <span class="list_info_span">Status</span>
                <span class="list_info_span">arrow</span>
            </div>
        </div>
        {{#each stack}}
            <button class="accordion">
                <span class="stack_info_head">{{name}}</span>
                <span class="stack_info_head">{{author}}</span>
                <span class="stack_info_head">{{creationDate}}</span>
                <span class="stack_info_head">{{#if status}}Online{{else}}Offline{{/if}}</span>
            </button>
            <div class="panel">
                    <li>{{id}}</li>
                </ul>
            </div> 
        {{/each}}
    </div>
</main>
<footer></footer>
<!--
{{#if ifEven}}
            <button id="accordion" class="stack_accordion_even">
        {{else}}
            <button id="accordion" class="stack_accordion">
        {{/if}}
            <div class="stack_accordion_panel">