<script type="text/javascript" src="/script/script.js" defer></script>
{{> nav}}
    
<main class="dashboard_main">
    {{> header}}
    
    <div class="search">
        <input class="search_bar" type="text" placeholder="search"></input>
        <button class="search_button">Search</button>
    </div>
    <div class="stack_sorting">
        <div class="sort_section">
            <div class="sorting">
                <a class="sort" href="">Your Stacks</a>
                <a class="sort" href="">Others Stacks</a>
            </div>
            <div>
                <button class="create_button">Create New Stack</button>
            </div>
        </div>
    </div>
    <div class="dashboard_list">
        <div class="list_info">
            <div class="list_spacer">
                <span class="list_info_name">Name</span>
                <span class="list_info_author">Author</span>
                <span class="list_info_creation_date">Creation Date</span>
                <span class="list_info_status">Status</span>
                <span class="list_info_actions">Actions</span>
            </div>
        </div>
        {{#each stack}}
            <button class="accordion">
                <span class="stack_info_name">{{name}}</span>
                <span class="stack_info_author">{{author}}</span>
                <span class="stack_info_creation_date">{{creationDate}}</span>
                <span class="stack_info_status">{{#if status}}Online{{else}}Offline{{/if}}</span>
            </button>
            <div class="panel">
                    <li class="panel_info_author_mobile">{{author}}</li>
                    <li class="panel_info_sub_domain">{{subDomain}}</li>
                    <li class="panel_info_team">{{team}}</li>
                    <li class="panel_info_template">{{template}}</li>
                    <li class="panel_info_last_active">{{lastActive}}</li>
                    <li class="panel_info_creation_date_mobile">{{creationDate}}</li>
                </ul>
            </div> 
        {{/each}}
    </div>
</main>
<!--
{{#if ifEven}}
            <button id="accordion" class="stack_accordion_even">
        {{else}}
            <button id="accordion" class="stack_accordion">
        {{/if}}
            <div class="stack_accordion_panel">