{{> nav}}
    
<main>
    <div class="search">
        <input class="search_bar" type="text" placeholder="search"></input>
        <button class="search_button">Search</button>
    </div>
    <div class="stack_sorting">
        <div class="sort_section">
            <div class="sorting">
                <a class="sort" href="">Your Stacks</a>
                <a class="sort" href="">Others Stacks</a>
            </div>
            <div>
                <button class="create_button">Create New Stack</button>
            </div>
        </div>
    </div>
    <div class="dashboard_list">
        <div class="list_info">
        <span class="list_info_span">Name</span>
        <span class="list_info_span">Author</span>
        <span class="list_info_span">Creation Date</span>
        <span class="list_info_span">Status</span>
        <span class="list_info_span">arrow</span>
    </div>
    {{#each stack}}
        {{#if ifEven}}
            <button class="stack_accordion_even">
        {{else}}
            <button class="stack_accordion">
        {{/if}}
            <div class="stack_accordion_panel">
                <ul>
                    <li>{{id}}</li>
                    <li>{{name}}</li>
                    <li>{{author}}</li>
                    <li>{{creationDate}}</li>
                    <li>{{#if status}}Online{{else}}Offline{{/if}}</li>
                </ul>
            </div>
        </button>
    {{/each}}
    </div>
</main>
<footer></footer>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>