<script type="text/javascript" src="/script/dashboard.js" defer></script>
{{> nav}}
    
<main class="dashboard_main">
    {{> header}}
    
    <div class="search">
        <input class="search_bar" type="text" placeholder="search"></input>
        <button class="search_button">Search</button>
    </div>
    <div class="stack_sorting">
        <div class="sort_section">
            <div class="sorting">
                <a class="sort" href="">Your Stacks</a>
                <a class="sort" href="">Others Stacks</a>
            </div>
            <div>
                <button class="create_button">Create New Stack</button>
            </div>
        </div>
    </div>
    <div class="dashboard_list">
        <div class="list_info">
            <div class="list_spacer">
                <span class="list_info_name">Name</span>
                <span class="list_info_author">Author</span>
                <span class="list_info_creation_date">Creation Date</span>
                <span class="list_info_status">Status</span>
                <span class="list_info_actions">Actions</span>
            </div>
        </div>
        {{#each stack}}
            <button class="accordion">
                <span class="stack_info_name">{{name}}</span>
                <span class="stack_info_author">{{author}}</span>
                <span class="stack_info_creation_date">{{creationDate}}</span>
                <span class="stack_info_status_offline">{{#if status}}Online{{else}}Offline{{/if}}</span>
            </button>
            <div class="panel">
                <div>
                    <p class="panel_info_author_mobile">Author: {{author}}</p>
                    <p class="panel_info_team">Team: {{team}}</p>
                    <p class="panel_info_sub_domain">Subdomain: {{subDomain}}</p>
                    <p class="panel_info_template">Template: {{template}}</p>
                </div>
                <div>
                    <p class="panel_info_last_active">Last Active: {{lastActive}}</p>
                    <p class="panel_info_creation_date_mobile">Creation Date:{{creationDate}}</p>
                    <div class="stack_actions">
                        <i onclick="myFunction(this)" class="uil-play-circle"></i>
                        <i class="uil-redo"></i>
                        <i class="uil uil-trash-alt"></i>
                    </div>
                </div>
                
            </div> 
        {{/each}}
    </div>
</main>
<!--
{{#if ifEven}}
            <button id="accordion" class="stack_accordion_even">
        {{else}}
            <button id="accordion" class="stack_accordion">
        {{/if}}
            <div class="stack_accordion_panel">