<link rel="stylesheet" href="/css/teams.css" />
<script src="/script/teams-edit.js" defer></script>

{{> nav}}
<main class="main_settings">
	{{> header}}
  
  <div class="team-container container">
    <!-- Venstre Sektion -->
    <div class="team-setup">
      <h2>Edit existing team</h2>

      <!-- Tabs til Create og Edit -->
      <div class="tabs">
        <a href="/teams" class="tab"> Create team</a>
        <a href="/teams-edit" class="tab active">Edit existing team</a>
      </div>

{{!-- Aad members to teams form --}}


{{#if teamId}}
<form action="/addTeamMember/{{teamId}}" method="POST">
	<!-- add member imputfelt-->
	<select name="member">
		<option value="0">Add team member</option>
		{{#if members}}
				{{#each members}}
					<option value="{{userId}}">{{firstName}} {{lastName}}</option>
				
				{{/each}}
		{{/if}}
	</select>

	{{!-- knap til at tilføje medlemmer til teams --}}
	<button class="button" type="submit">Add member to team</button>
		</form>

	<!-- or udload CSV fil-->
	{{!-- <div class="or-section">
		<span>Or</span>
		<div id="csv-dropzone" class="button">Upload CSV File</div>
		<input type="file" id="csv-file-input" accept=".csv" hidden />
	</div>
	<textarea id="csv-textbox" rows="5" placeholder="Indsæt eller upload CSV-indhold her..."></textarea> --}}

	<!-- Højre Sektion -->
	<div class="team-members">
		<h2>Added Team members</h2>
		<ul id="added-members-list">
			{{#each teamMembers}}
				<li>{{firstName}} {{lastName}}</li>
			{{/each}}	
		</ul>
	</div>
{{else}}
<table class="styled-table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each teams}}
      <tr class="teamContainer2">
        <td class="teamsId teamStyling">{{teamId}}</td>
        <td class="teamsName teamStyling">{{teamName}}</td>
        <td><a href="/teams-edit/{{teamId}}" class="button">Edit</a></td>
      </tr>
    {{/each}}	
  </tbody>
</table>
{{/if}}

  </div>
    </div>
</main>