<link rel="stylesheet" href="/css/template.css" />
{{> nav}}

<main class="template_main">
    {{> header}}

    {{#if userDetails.isNewStackAllowed}}
        <a href="/create_template" class="button createTemplate_link">Create a new template</a>
    {{/if}}
    
    {{#each templates}}
    <div class="templateWrapper">
        <h3>{{templateTitle}}</h3>

        <p> <b>Creation Date: </b> {{creationDate}}</p>
        <p> <b>Last Update: </b>{{lastUpdate}}</p>
    
        <form action="/updateTemplate" method="post">
            <textarea name="newContent" id="">{{templateContent}}</textarea>
            <input type="hidden" name="templateId" value="{{templateId}}">
            <br>
            <div class="templateFormBtn_wrapper">
                <button class="templateSaveBtn" type="submit">Save</button>
                <button 
                    type="button" 
                    class="templateDeletionBtn" 
                    onclick="popUpForm('{{templateId}}')"
                >
                    Delete
                </button>
            </div>
        </form>

        <div id="confirmModal" class="templateFormModal_wrapper">
            <div class="templateFormModal_content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Are you sure you want to delete <br> "{{templateTitle}}"?</h2>
                <div>
                    <form class="templateModalForm_deletion" action="/deleteTemplate" method="post">
                        <input type="hidden" name="templateId" value="{{templateId}}">
                        <button type="submit">Yes, delete</button>
                    </form>
                    <button onclick="closeModal()" class="templateFormModalBtn_cancel">Cancel</button>
                </div>
            </div>
        </div>

    </div>
    {{/each}}

    <div class="toast-overlay" 
		id="toast-overlay"></div>

	{{!-- {{#if message}} --}}
		 
	<script>
		// We need make a variable to pass on a value from handlebars to script file.
		const messageType = "{{message.type}}";
		const messageText = "{{message.text}}";
	</script>
    <script src="script/updatePasswordToast.js"></script>

    {{!-- {{/if}} --}}

    <script>
        // Get the modal
        var modal = document.getElementById("confirmModal");

        // Function to show the modal
        function popUpForm() {
            modal.style.display = "block";
        }

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }

        // Close the modal if the user clicks anywhere outside of the modal
        window.onclick = function(event) {
            if (event.target == modal) {
                closeModal();
            }
        }
    </script>
</main>