<link rel="stylesheet" href="/css/template.css" />
{{> nav}}

<main class="template_main">
    {{> header}}
    <a href="/template" class="templateSavebtn templateCreationLink_back">Back</a>

    <form action="/templateCreation" method="post" class="templateCreationForm">
        <fieldset>
            <label for="title">Title</label>
            <br>
            <input type="text" name="title" value="{{message.cachedTitle}}" placeholder="Title of the new template">
        </fieldset>
        <fieldset>
            <label for="content">Content of the new template</label>
            <textarea name="content" id="yamlContent">{{message.cachedContent}}</textarea>
        </fieldset>
        <fieldset>
            <label for="">Upload a file instead</label>
            <br>
            <input id="fileInput" type="file" accept=".yml, .yaml, .txt" name="fileContent" placeholder="Content of the new template">
        </fieldset>
        <button type="submit" class="button">Create template</button>
    </form>
    <p style="color: #E94545">{{message.errMsg}}</p>

        <div class="toast-overlay" 
		id="toast-overlay"></div>

        <script>
            const fileInput = document.querySelector("#fileInput")
            const contentDisplay = document.querySelector("#yamlContent")
            // Handle file selection
            fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (event) {
                contentDisplay.value = event.target.result; // Populate textarea
                };
                reader.readAsText(file); // Read the file as text
            }
            });
        </script>

	<script>
		// We need make a variable to pass on a value from handlebars to script file.
		const messageType = "{{message.type}}";
		const messageText = "{{message.text}}";
	</script>
    <script src="script/updatePasswordToast.js"></script>
</main>