{{> nav}}

<main class="dashboard_main">
    {{> header}}

    <form action="/templateCreation" method="post" class="templateCreationForm">
        <fieldset>
            <label for="title">Title</label>
            <br>
            <input type="text" name="title" value="{{message.cachedTitle}}" placeholder="Title of the new template">
        </fieldset>
        <fieldset>
            <label for="content">Content of the new template</label>
            <textarea name="content" id="">{{message.cachedContent}}</textarea>
        </fieldset>
        <fieldset>
            <label for="">Upload a file instead</label>
            <br>
            <input type="file" accept=".yml, .yaml, .txt" name="content" placeholder="Content of the new template">
        </fieldset>
        <button type="submit" class="button">Create template</button>
    </form>
    <p style="color: #E94545">{{message.errMsg}}</p>

        <div class="toast-overlay" 
		id="toast-overlay"></div>

	<script>
		// We need make a variable to pass on a value from handlebars to script file.
		const messageType = "{{message.type}}";
		const messageText = "{{message.text}}";
	</script>
    <script src="script/updatePasswordToast.js"></script>
</main>